@import "./variables.scss";

@font-face {
  font-family: "MMCOFFICE";
  src: local("MMCOFFICE"),
    url("../fonts/MMCOFFICE-REGULAR.eot") format("embedded-opentype"),
    url("../fonts/MMCOFFICE-REGULAR.ttf") format("truetype");
}

@font-face {
  font-family: "MMCOFFICE";
  font-weight: bold;
  src: local("MMCOFFICE"),
    url("../fonts/MMCOFFICE-BOLD.eot") format("embedded-opentype"),
    url("../fonts/MMCOFFICE-BOLD.ttf") format("truetype");
}
body {
  background: #3D9970;
}
* {
  padding: 0;
  margin: 0;
}

button {
  background: none;
  border: solid 1px;
  outline: none;
  box-shadow: none;
  background-color: #01FF70;
  padding: 10px;
  cursor: pointer;
  margin-left: 10px;
}
.center {
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  width: 100%;
}
.theme {
  height: 100%;
  width: 100%;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.section1 {
  margin: 0 auto;
  img {
    width: 500px;
    max-width: 50%;
    display: block;
    margin: 0 auto;
  }
}
.rotate {
  animation:spin 4s linear infinite;
}
.theme1 {
  $headingColor: #ffffff;
  $headingFontSize: 70px;
  $secondaryHeadingFontSize: 30px;
  $contentFontSize: 18px;
  $themePrimaryColor: #000;
  $themeSecondaryColor: #ed1c24;
  $themeheadingColor: #ed1c24;
  $themeContentColor: #444;
  $highlightColor: #fad03b;
  $secondaryThemeColor: #ed1c24;
  font-family: $font-main-content;
  font-size: $contentFontSize;
  position: relative;
  margin: auto;
  $max-width-section: 80%;
  $max-width-section-mobile: 100%;

  ul {
    li {
      margin-left: 1.6em;
    }
  }

  p {
    a {
      color: $secondaryThemeColor;
      &:hover {
        color: $secondaryThemeColor;
      }
    }
  }

  p {
    line-height: 1.4;
    color: $themeContentColor;
  }
  a {
    color: $themePrimaryColor;
    text-decoration: none;
  }
  h2 {
    color: #FFF;
    text-align: center;
    font-size: 5em;
  }
  .captilize {
    text-transform: uppercase;
  }
  .textLeft {
    text-align: left;
    @media (max-width: $break-medium) {
      text-align: center;
    }
  }
  .pBold {
    font-size: 20px;
    font-weight: bold;
    @media (max-width: $break-medium) {
      font-size: 16px;
    }
  }
}
