$backup-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-main-content: "MMCOFFICE", $backup-font-family;
$font-main-content-heading: "MMCOFFICE", $backup-font-family;
$break-mobile: 450px;
$break-smallest: 490px;
$break-small: 600px;
$break-medium: 800px;
$break-large: 1140px;
$break-ultra: 1280px;